table, th, td {
    border: 1px solid black;
  }

table{
    width: 100%;
    border-collapse: collapse;
    height: 140px;
}

tr{
    margin: 15px;
}
td{
    text-align: center;
}
th{
   font-size: 14px;
   text-transform: capitalize;
}

th:nth-child(even),td:nth-child(even) {
    background-color: #f4f3f3;
  }